.DataTableStyle th, .DataTableStyle td {
  padding: 0;
}
.DataTableStyle th input, .DataTableStyle td input {
  border: 0;
  width: 95%;
  padding: 0.75rem;
}
.DataTableStyle td input {
  width: 100%;
}
.DataTableStyle .backend_menu {
  display: flex;
  align-items: center;
}
.DataTableStyle .backend_menu button {
  background: none;
  border: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.DataTableStyle .backend_menu button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.DataTableStyle .backend_menu button img.dropdown_menuicon {
  width: 5px;
  opacity: 0.3;
}
.DataTableStyle .backend_menu button img.dropdown_righticon {
  width: 15px;
  opacity: 0.8;
  margin-right: 0.5rem;
}
.DataTableStyle .backend_menu button img.dropdown_delicon {
  width: 12px;
  opacity: 0.8;
  margin-right: 0.5rem;
}
.DataTableStyle .backend_menu button.dropdown-toggle::after {
  display: none;
}