.DataTableStyle{
    th,td{
        padding: 0;
    }
    th input,td input{
        border: 0;
        width: 95%;
        padding: 0.75rem;
    }
    td input{
        width: 100%;
    }
    .backend_menu{
        display: flex;
        align-items: center;
        .dropdown{
            margin-left: auto;
            padding-right: 1rem;
        }
        button{
            background: none;
            border: 0;
            display: flex;
            align-items: center;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            img{
                &.dropdown_menuicon{
                    width: 5px;
                    opacity: 0.3;
                }
                &.dropdown_righticon{
                    width: 15px;
                    opacity: 0.8;
                    margin-right: 0.5rem;
                }
                &.dropdown_delicon{
                    width: 12px;
                    opacity: 0.8;
                    margin-right: 0.5rem;
                }
            }
            &.dropdown-toggle::after{
                display: none;
            }
        }
    }
}